/* menu.css */

/* Reset padrão */
input[type="checkbox"] {
    display: flex;
}

/* Estilos do menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: flex;
    cursor: pointer;
}

.menu-hamburger {
    display: flex;
}

nav div {
    display: flex;
}