/* Responsivo */
@media screen and (max-width: 768px) {
    nav div {
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    label {
        display: flex;
        cursor: pointer;
    }

    .menu-hamburger {
        display: flex;
        width: 25px;
        height: 3px;
        background-color: rgb(92, 126, 177);
        margin: 5px 0;
        transition: transform 0.4s;
    }

    input[type="checkbox"]:checked ~ nav div {
        display: block;
    }

    input[type="checkbox"]:checked ~ nav .menu-hamburger:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    input[type="checkbox"]:checked ~ nav .menu-hamburger:nth-child(2) {
        opacity: 0;
    }

    input[type="checkbox"]:checked ~ nav .menu-hamburger:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* responsivo.css */

/* Responsividade */
@media screen and (max-width: 768px) {
    label {
        display: flex;
    }

    .menu-hamburger {
        display: flex;
    }

    nav div {
        display: flex;
        flex-direction: column;
        background-color: #196ecf;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    nav a {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid rgb(55, 45, 116);
    }

    nav a:last-child {
        border-bottom: none;
    }
}